:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --text-buttom-color: #ffffff;
  --acent-color: #2196f3;
  --bgr-color-acent: #2f303a;
  --bgr-color:#E5E5E5;
  --bgr-second-color :#F5F4FA;
 
}
.link {
  text-decoration: none;
}
.list
{list-style: none; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;}

 p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
 }
 ul, ol{
margin: 0;
padding: 0;}

img {display: block;
  min-width: 100%;
  height: auto;}
  /*---------------HEADER----------------- */
.logo {
  color: var(--acent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  
}
 
.header{
  background-color: var(--text-buttom-color);
border-bottom: 1px solid #ECECEC;
}
.main-nav{
display: flex;
align-items: center;}

.header-nav{
  display: flex;
}

.header-list{
display: flex;
margin-left: 93px;}


.header-list .header-item:not(:last-child){
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }


.header-link:hover,
.header-link:focus {
  color: var(--acent-color);
}

.header-contact-list {
display: flex;
margin-left: auto;
align-items: center;}

.header-contact-list .item + .item{
  margin-left: 50px; ;
}
.active {
  position: relative;
  color: #2196F3;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}
.header-contact  {
 display:  flex;
 padding-top: 32px;
 padding-bottom: 32px;
 align-items: center;

 color:var(--second-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 text-decoration: none;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}

.header-contact:hover, .header-contact:focus{
  color: var(--acent-color);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
 }
/* ---------------------HERO----------------------------- */
.hero{
   background-color:var(--bgr-color-acent);
   padding-top: 200px;
   padding-bottom: 200px;
   background-image:linear-gradient(
    rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
   ),
    url(../images/hero-bg.jpg);
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
}
  .hero>.container{
    
    text-align: center;
  }
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;  

  font-size: 44px; 
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-buttom-color);
}
  .hero-button {
  min-width: 200px;
  height: 50px;
  padding: 11px 32px;

  border: transparent;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-buttom-color);
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

}
/* ---------------------SECTION PECULIARITIES------------------------ */
.peculiarities-list{
  display: flex;
  gap: 30px;
 
}
.peculiarities{
  padding-top: 94px;
 
}
.peculiarities-list h3 {
    margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  color:var(--main-text-color);
}
.peculiarities-item::before {
  content: '';
 
  height: 120px;
background-color:#F5F4FA;
  border-radius: 4px;
display: block;
margin-bottom: 30px;
justify-content: center;
background-repeat: no-repeat;
background-position: center;
}

.peculiarities-item:nth-child(1)::before {
background-image: url(../images/antenna.svg);
}

.peculiarities-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.peculiarities-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.peculiarities-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.peculiarities-item >p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* -------------------------SECTION ABOUT------------------------------ */
.about-tittle,
.team-tittle,.clients-tittle {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list{
 display: flex;
 gap: 30px;
}

.about-item{ 
  width: calc((100%-60)/3);
}

.text-abcolute{
  position: relative;
}

.text-up{
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color:rgba(47, 48, 58, 0.8);

}
/* ---------------------SECTION TEAM----------------------- */
.team{
  background-color: var(--bgr-second-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list{
  display: flex;
}

.team-list .team-item + .team-item{
  margin-left: 30px;
}

.team-list  h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-item{
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item p {
  margin-bottom: 16px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-item h3{
  padding-top: 30px;
  margin-bottom: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-soc{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.soc-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team-soc-link{
  width: 44px;
  height: 44px;
 border-radius:  50%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color:transparent;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team-soc-link:hover, .team-soc-link:focus{
  background-color: #2196f3;
}

.team-soc-link:hover .soc-icon{
  fill: #fff;
}

.team-soc-link:focus .soc-icon {
  fill: #fff;
 
}

/* ---------------SECTION CLIENTS --------------------------- */
.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.client-link:hover{
  border-color:  #2196F3;
}

.client-link:hover .client-icon{
  fill:#2196F3; ;
}
.client-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
/* -------------------------------FOOTER--------------------------- */
.footer {
  background-color: var(--bgr-color-acent);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
 display: block;
 margin-bottom: 20px;
 
color: var(--acent-color);
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;}


  .footer-item>a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  }
.footer-list{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

 .footer-list:hover,.footer-list:focus{
  color: var(--acent-color);
 }
 .footer-item:nth-child(n+2) {
  margin-top: 9px;
 }

a[href=" https://goo.gl/maps/LfRihioMRKPNniMt5"]
{
  color: var(--text-buttom-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a[href=" https://goo.gl/maps/LfRihioMRKPNniMt5"]:hover{
  color:var(--acent-color);
}
.footer-soc{
  display: flex;
  justify-content: start;
  gap: 10px;
}
.footer-soc-link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  top: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 

.footer-soc-link:hover, .footer-soc-link:focus{
  background-color: #2196F3;
}
.footer-icon{
  fill: #FFFFFF;
}
.footer-form{
  width: 100%;
}
.footer-label{
  margin-bottom: 20px;
  width: 100%;
  font-weight: 700;
 font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #FFFFFF;
}

.footer-input{
  width: 358px;
  height: 50px;
 padding: 15px 16px;
 margin-right: 12px;
 background-color: #2F303A;;
 border: 1px solid rgba(255, 255, 255, 0.3);
 color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input::placeholder{
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:1.25;
    letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:focus{
  border-color: #fff;
  outline: transparent;
 
}

.footer-form{
  display: flex;
}
.footer-button{
 display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height:1.88;
 
  letter-spacing: 0.06em;

 
}

.btn-icon{
margin-left:  10px;

}

.soc>h3{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
  margin-bottom: 20px;
}
.soc{
  margin-right: 93px;
}

/* --------------------SECTION PORTFOLIO-------------------------- */
.box-contacts{
display: flex;
}
.contacts{
  margin-right: 70px;
}
.portfolio-list{
  padding-top: 94px;
  padding-bottom: 94px;
}

.box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:nth-child(n+2) {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #F5F4FA;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--text-buttom-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
/* ----------------------------------SECTOIN GALLERY------------------------ */
.text-container p {
   font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color)
}

.text-container h2 {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-link{
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-abcolute{
  position: relative;
  overflow: hidden;
}
.text-gallery-abcolute{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  background-color:rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover .text-gallery-abcolute {
transform: translateY(0%);
}
.text-container{
flex-basis: calc((100%-60px)/3);
border-bottom: 1px solid #EEEEEE;
border-right:1px solid #EEEEEE ;
border-left: 1px solid #EEEEEE ;
padding: 20px 24px;
}
/* ------------------------------MODAL---------------------------------------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), 
visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal{
transform: translate(-50%,-50%) rotate(180deg) ;
}
.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate( 0deg);
width: 528px;
height: 581px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1) ;
padding: 40px;
}

.modal-clouse{
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 50%;
 border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
align-items: center;

}
.modal-clouse:hover .modal-icon{
fill: #2196F3;
}
.modal-icon{
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
  cursor: pointer;
  outline: transparent;
  border-color:#2196F3; 
}

.modal-title{
  margin-bottom: 12px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
}
.modal-field{
margin-bottom: 10px;

}
.input-wrap{
  position: relative;
}
.form-icon{
position: absolute;
top: 11px;
left: 12px;
fill: #212121;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-input:focus ~.form-icon {
  fill: #2196F3;
}
.modal-label{
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  
  color: #757575;
}
.modal-text{
display: block;
width: 100%;
height: 120px;
padding: 16px 12px;
resize: none;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 20px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

textarea::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
 }
.modal-text:focus{
  cursor: pointer;
  outline: transparent;
  border-color: #2196F3;
  }
  .comment{
    margin-bottom: 20px;

  }

.form-button {
 display: block;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
   border: transparent;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.chek-text{
position: relative;
display: flex;
justify-content: center;
align-items: center;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #757575;
}
.chek-icon-cheked{
  position: absolute;
  top: 4px;
  left: 18px;
  background-color: var(--acent-color);
  border: transparent;
  border-radius: 2px;
  opacity: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.checkbox:checked +.chek-text .chek-icon-cheked {
  opacity: 1;
}
.checkbox:checked+.chek-text .chek-icon {
  opacity: 0;
}
.checkbox:focus+.chek-text .chek-icon{
  fill: #2196F3;
}

.chek-icon{
fill :#212121;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-right: 10px;
}

.modal-link{
color: var(--acent-color);
margin-left: 5px;
}
.is-hidden {
  visibility:hidden;
  opacity :0;
  pointer-events:none;
}