
.about-tittle,
.team-tittle,
.clients-tittle {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    
}.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-item {
    width: calc((100% - 60)/3);
}

.text-abcolute {
    position: relative;
}

.text-up {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);

}